{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Interactive Novel{% endblock %}

{% block page_content %}
<div class="page-header">
  {% with messages = get_flashed_messages() %}
  
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">
                <strong> 작업을 선택하세요. </strong>
            </div>
        {% endfor %}
    {% endif %}
  {% endwith %}

<h2> 한국어 대화형 소설 작성 시스템 </h2>
<br>
<br>


<div class="container">
    <div id="load_novels" class="col-md-offset-3 col-md-6">
      <h3>  로그인 </h3>
      <br>
          {{ wtf.quick_form(login) }}
          {{ wtf.quick_form(register) }}
      <br>
    </div>
</div>


{% endblock %}