
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/interactive_novel.css') }}">

{%with messages = get_flashed_messages()%}
{%if messages %}
  <script type="text/javascript">
    alert("{{messages[-1]}}");
  </script>
  {%endif%}
{%endwith%}

{% endblock %}
{% block title %}{{novel_title}}{% endblock %}

{% block page_content %}
<div class="page-header">


<h2> <center> {{ novel_title }} </center> </h2>
<br>
<br>

<div id="dialogue_container" class="col-md-12">
  {% for chat in dialogue%}
    <div class="row col-md-9 col-md-offset-3">
      <div class = "chat_user">{{chat[0]}}</div>
    </div>
    <div class="row col-md-9">
      <div class = "chat_model">{{chat[1]}}</div>
    </div>
  {%endfor%}
  <script>
    $('#dialogue_container').scrollTop($("#dialogue_container")[0].scrollHeight)
  </script>
</div>
<div id="interactive_novel" class="col-md-12 sticky-bottom">
  {{ wtf.quick_form(next_form) }}
  <br>
</div>

{% endblock %}