{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Knox Support{% endblock %}

{% block page_content %}
<div class="page-header">
  {% with messages = get_flashed_messages() %}
  
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">
                <strong> 작업을 선택하세요. </strong>
            </div>
        {% endfor %}
    {% endif %}
  {% endwith %}

<h2> <center> 소설 {{ novel_number }} </center> </h2>
<br>
<br>

<div class="container">
    <div id="interactive_novel" class="col-md-12">
      {{ wtf.quick_form(current_context) }}
        <br>
        <br>
            아이콘들
        <br>
        <br>
      {{ wtf.quick_form(next_form) }}
      <br>
    </div>
</div>


{% endblock %}