Flask==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.3
Flask-Migrate==2.4.0
Flask-Moment==0.7.0
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
WTForms==2.2.1
alabaster==0.7.10
SQLAlchemy==1.2.6
Werkzeug==0.14.1